{% extends "base.html" %}

{% block content %}
    <h2>HPI Errors</h2>
    <table bgcolor="474547" border="5" style="border-color:474547;">
        <tr>
            <th>Vendor</th>
            <th>Error Line</th>
            <th>Occurrences</th>
        </tr>
        {% for line in errorsHPI %}
            <tr>
                {% if loop.index0 == 0 %}
                <td>HPI</td>
                <td>{{errorsHPI[loop.index0]}}</td>
                <td>{{occurencesHPI[loop.index0]}}</td>
                {% else %}
                <td></td>
                <td>{{errorsHPI[loop.index0]}}</td>
                <td>{{occurencesHPI[loop.index0]}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}